@page "/"

<div data-bs-spy="scroll" data-bs-target="#navBar" id="weddingHome">

    <!-- Navbar start -->
    <div class="container-fluid sticky-top px-0">
        <div class="container-fluid">
            <div class="container px-0">
                <nav class="navbar navbar-light navbar-expand-xl" id="navBar">
                    <a href="index.html" class="navbar-brand">
                        <h4 class="text-primary display-6 fw-bold mb-0">Bre<strong class="text-secondary p-1">&</strong>Freddy</h4>
                    </a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse py-3" id="navbarCollapse">
                        <div class="navbar-nav mx-auto border-top">
                            <a href="#weddingHome" class="nav-item nav-link active">Home</a>
                            <a href="#weddingStory" class="nav-item nav-link">Story</a>
                            <a href="#weddingGallery" class="nav-item nav-link">Gallery</a>
                            <a href="#weddingTimeline" class="nav-item nav-link">Timeline</a>
                            <a href="#weddingRsvp" class="nav-item nav-link">RSVP</a>
                        </div>
                        <div class="d-flex align-items-center flex-nowrap pt-xl-0">
                            <a href="#weddingRsvp" class="btn btn-primary btn-primary-outline-0 py-2 px-4 ms-4">Book Attendance</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Carousel Start -->
    <div class="container-fluid carousel-header px-0">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="img/carousel-1.jpg" class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3 mx-auto animated zoomIn" style="max-width: 900px;">
                            <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-4" style="border-style: double;">
                                <h4 class="text-white text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">WE ARE GETTING MARRIED</h4>
                            </div>
                            <h1 class="display-1 text-capitalize text-white mb-3">Bre <i class="fa fa-heart text-primary"></i> Freddy</h1>
                            <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-5" style="border-style: double;">
                                <h4 class="text-white text-uppercase fw-bold mb-1" style="letter-spacing: 3px;">May 31 2025</h4>
                                <h6 class="text-white text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">@FormattedTime</h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-primary btn-primary-outline-0 py-3 px-5" href="#weddingRsvp">RSVP Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/carousel-2.jpg" class="img-fluid" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3 mx-auto animated zoomIn" style="max-width: 900px;">
                            <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-5" style="border-style: double;">
                                <h4 class="text-white text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">WE ARE GETTING MARRIED</h4>
                            </div>
                            <h1 class="display-1 text-capitalize text-white mb-3">Bre <i class="fa fa-heart text-primary"></i> Freddy</h1>
                            <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-4" style="border-style: double;">
                                <h4 class="text-white text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">June 28 2024</h4>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-primary btn-primary-outline-0 py-3 px-5" href="#">RSVP Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/carousel-3.png" class="img-fluid bg-secondary" alt="Image">
                    <div class="carousel-caption">
                        <div class="p-3 mx-auto animated zoomIn" style="max-width: 900px;">
                            <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-4" style="border-style: double;">
                                <h4 class="text-white text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">WE ARE GETTING MARRIED</h4>
                            </div>
                            <h1 class="display-1 text-capitalize text-white mb-3">Bre <i class="fa fa-heart text-primary"></i> Freddy</h1>
                            <div class="d-inline-block border-end-0 border-start-0 border-secondary p-2 mb-4" style="border-style: double;">
                                <h4 class="text-white text-uppercase fw-bold mb-0" style="letter-spacing: 3px;">June 28 2024</h4>
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-primary btn-primary-outline-0 py-3 px-5" href="#">RSVP Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Story Start -->
    <div class="container-fluid story position-relative py-5" id="weddingStory">
        <div class="position-absolute" style="top: -35px; right: 0;">
            <img src="img/tamp-bg-1.png" class="img-fluid" alt="">
        </div>
        <div class="position-absolute" style="top: -15px; left: 0; transform: rotate(150deg);">
            <img src="img/tamp-bg-1.png" class="img-fluid" alt="">
        </div>
        <div class="container position-relative py-5">
            <div class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-4">Our Love Story</h1>
            </div>
            <div class="story-timeline">
                <div class="row wow fadeInUp" data-wow-delay="0.2s">
                    <div class="col-md-6 text-end border-0 border-top border-end border-secondary p-4">
                        <div class="d-inline-flex align-items-center h-100">
                            <img src="img/story-1.jpg" class="img-fluid w-100 img-border" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 border-start border-top border-secondary p-4 pe-0">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h4 class="mb-2 text-dark">First Met</h4>
                            <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">25 Feb 2021</p>
                            <p class="m-0 fs-5">We matched on Bumble, and with a simple right swipe, our story began.</p>
                        </div>
                    </div>
                </div>
                <div class="row flex-column-reverse flex-md-row wow fadeInUp" data-wow-delay="0.3s">
                    <div class="col-md-6 text-end border-end border-top border-secondary p-4 ps-0">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h4 class="text-dark mb-2">First Date</h4>
                            <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">15 Mar 2021</p>
                            <p class="m-0 fs-5">Before our date could begin, we had one very important task—taking our favorite bean, Kona, for a walk. Afterward, we got cozy, snuggling up in the ultimate blanket fort with some pizza and a movie.</p>
                        </div>
                    </div>
                    <div class="col-md-6 border-start border-top border-secondary p-4">
                        <div class="d-inline-flex align-items-center h-100">
                            <img src="img/story-2.jpg" class="img-fluid w-100 img-border" alt="">
                        </div>
                    </div>
                </div>
                <div class="row wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-6 text-end border-end border-top border-secondary p-4 ps-0">
                        <div class="d-inline-flex align-items-center h-100">
                            <img src="img/story-3.jpg" class="img-fluid w-100 img-border" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 border-start border-top border-secondary p-4 pe-0">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h4 class="text-dark mb-2">Proposal</h4>
                            <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">04 Aug 2023</p>
                            <p class="m-0 fs-5">We escaped to Cherry Springs to admire the night sky, and while Bre was peering through the telescope at the moon, Freddy got down on one knee.</p>
                        </div>
                    </div>
                </div>
                <div class="row flex-column-reverse flex-md-row wow fadeInUp" data-wow-delay="0.5s">
                    <div class="col-md-6 text-end border border-start-0 border-secondary p-4 ps-0">
                        <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-4">
                            <h4 class="text-dark mb-2">Enagagement</h4>
                            <p class="text-uppercase text-primary mb-2" style="letter-spacing: 3px;">2023-2025</p>
                            <p class="m-0 fs-5">After countless adventures and memories, we finally took the leap and bought our first house together. Leaving State College behind, we started building our dream life in our new home: Pittsburgh.</p>
                        </div>
                    </div>
                    <div class="col-md-6 border border-end-0 border-secondary p-4">
                        <div class="d-inline-flex align-items-center h-100">
                            <img src="img/story-4.jpg" class="img-fluid w-100 img-border" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Story End -->
    <!-- Gallery Start -->
    <div class="container-fluid gallery position-relative py-5" id="weddingGallery">
        <div class="position-absolute" style="top: -95px; right: 0;">
            <img src="img/tamp-bg-1.png" class="img-fluid" alt="">
        </div>
        <div class="position-absolute" style="top: -80px; left: 0; transform: rotate(150deg);">
            <img src="img/tamp-bg-1.png" class="img-fluid" alt="">
        </div>
        <div class="container position-relative py-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <h1 class="display-2 text-dark">Gallery</h1>
                <p class="fs-5 text-dark">Here are some of our favorite photos we'd like to share.</p>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="gallery-item">
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="img/gallery-1.jpg" alt="">
                            <div class="hover-style"></div>
                            <div class="search-icon">
                                <a href="img/gallery-1.jpg" data-lightbox="Gallery-1" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                            </div>
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5>Wedding on the beach</h5>
                            <p class="text-dark mb-0">June 28, 2024</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="gallery-item">
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="img/gallery-2.jpg" alt="">
                            <div class="hover-style"></div>
                            <div class="search-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="Gallery-2" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                            </div>
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5>Wedding on the beach</h5>
                            <p class="text-dark mb-0">June 28, 2024</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="gallery-item">
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="img/gallery-3.jpg" alt="">
                            <div class="hover-style"></div>
                            <div class="search-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="Gallery-3" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                            </div>
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5>Wedding on the beach</h5>
                            <p class="text-dark mb-0">June 28, 2024</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="gallery-item">
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="img/gallery-4.jpg" alt="">
                            <div class="hover-style"></div>
                            <div class="search-icon">
                                <a href="img/gallery-4.jpg" data-lightbox="Gallery-4" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                            </div>
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5>Wedding on the beach</h5>
                            <p class="text-dark mb-0">June 28, 2024</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="gallery-item">
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="img/gallery-5.jpg" alt="">
                            <div class="hover-style"></div>
                            <div class="search-icon">
                                <a href="img/gallery-5.jpg" data-lightbox="Gallery-5" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                            </div>
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5>Wedding on the beach</h5>
                            <p class="text-dark mb-0">June 28, 2024</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="gallery-item">
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="img/gallery-6.jpg" alt="">
                            <div class="hover-style"></div>
                            <div class="search-icon">
                                <a href="img/gallery-6.jpg" data-lightbox="Gallery-6" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                            </div>
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5>Wedding on the beach</h5>
                            <p class="text-dark mb-0">June 28, 2024</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="gallery-item">
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="img/gallery-7.jpg" alt="">
                            <div class="hover-style"></div>
                            <div class="search-icon">
                                <a href="img/gallery-7.jpg" data-lightbox="Gallery-7" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                            </div>
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5>Wedding on the beach</h5>
                            <p class="text-dark mb-0">June 28, 2024</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                    <div class="gallery-item">
                        <div class="gallery-img">
                            <img class="img-fluid w-100" src="img/gallery-8.jpg" alt="">
                            <div class="hover-style"></div>
                            <div class="search-icon">
                                <a href="img/gallery-8.jpg" data-lightbox="Gallery-8" class="my-auto"><i class="fas fa-plus btn-primary btn-primary-outline-0 p-3"></i></a>
                            </div>
                        </div>
                        <div class="gallery-overlay bg-light border-secondary border-top-0 p-4" style="border-style: double;">
                            <h5>Wedding on the beach</h5>
                            <p class="text-dark mb-0">June 28, 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery end -->
    <!-- Wedding Timeline start -->
    <div class="container-fluid wedding-timeline bg-secondary position-relative overflow-hidden py-5" id="weddingTimeline">
        <div class="position-absolute" style="top: 50%; left: -100px; transform: translateY(-50%); opacity: 0.5;">
            <img src="img/wedding-bg.png" class="img-fluid" alt="">
        </div>
        <div class="position-absolute" style="top: 50%; right: -160px; transform: translateY(-50%); opacity: 0.5; rotate: 335deg;">
            <img src="img/wedding-bg.png" class="img-fluid" alt="">
        </div>
        <div class="container py-5">
            <div class="text-center mb-5">
                <h1 class="display-4 text-white">Wedding Timeline</h1>
            </div>
            <div class="position-relative wedding-content">
                <div class="row g-4">
                    <div class="col-6 col-md-6 col-xl-3 border border-bottom-0">
                        <div class="text-center p-3 wow fadeIn" data-wow-delay="0.1s">
                            <div class="mb-4 p-3 d-inline-flex">
                                <i class="fas fa-check text-primary fa-3x"></i>
                            </div>
                            <p class="text-primary">12:00PM - 12:45PM</p>
                            <h3 class="text-dark">Arrive</h3>
                            <p class="text-dark">Please arrive no later that 12:45PM</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-3 border border-top-0 border-start-0">
                        <div class="text-center p-3 wow fadeIn" data-wow-delay="0.3s">
                            <div class="mb-4 p-3 d-inline-flex">
                                <i class="fas fa-ring text-primary fa-3x"></i>
                            </div>
                            <p class="text-primary">1:00PM - 1:30PM</p>
                            <h3 class="text-dark">Ceremony</h3>
                            <p class="text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-3 border border-bottom-0 border-end-0">
                        <div class="text-center p-3 wow fadeIn" data-wow-delay="0.5s">
                            <div class="mb-4 p-3 d-inline-flex">
                                <i class="fas fa-photo-video text-primary fa-3x"></i>
                            </div>
                            <p class="text-primary">1:30PM - 3:00PM</p>
                            <h3 class="text-dark">Photos & Reception</h3>
                            <p class="text-dark">While we take photographs, please enjoy some hors d'oeuvre and refreshments on us.</p>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-xl-3 border border-top-0">
                        <div class="text-center p-3 wow fadeIn" data-wow-delay="0.7s">
                            <div class="mb-4 p-3 d-inline-flex">
                                <i class="fas fa-utensils text-primary fa-3x"></i>
                            </div>
                            <p class="text-primary">10:00AM - 11:00AM</p>
                            <h3 class="text-dark">Dinner</h3>
                            <p class="text-dark">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        </div>
                    </div>
                </div>
                <div class="position-absolute heart-circle " style="bottom: 0; left: -18px;">
                    <div class="border border-2 border-primary rounded-circle p-1 bg-secondary"></div>
                </div>
                <div class="position-absolute heart-circle" style="top: 18px; right: -17px;">
                    <div class="border border-2 border-primary rounded-circle p-1 bg-secondary"></div>
                </div>
            </div>
            <div class="mt-5">
                <div class="row g-5 justify-content-center text-center">
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="p-4 border-white" style="border-style: double;">
                            <h4>Call Us Now</h4>
                            <a href="#" class="text-dark">+123 456 7890</a>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="p-4 border-white" style="border-style: double;">
                            <h4>When</h4>
                            <p class="mb-0 text-dark">
                                28. June 2024. at 7 o’clock in the evening
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="p-4 border-white" style="border-style: double;">
                            <h4>Where</h4>
                            <p class="mb-0 text-dark">
                                Niloy Hotel, 123 ranking Street, New York.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 wow fadeIn" data-wow-delay="0.2s">
                        <div class="border-secondary" style="border-style: double;">
                            <iframe class="w-100"
                                    style="height: 450px; margin-bottom: -6px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3000.501276104608!2d-80.50395807310613!3d41.232637571319955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8833c1b4b00737c7%3A0xeb5ba6fd7c0ef17d!2sBuhl%20Mansion%20Guesthouse%20%26%20Spa!5e0!3m2!1sen!2sus!4v1739415921712!5m2!1sen!2sus"
                                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Wedding Timeline End -->
    <!-- RSVP Form Start -->
    <div class="container-fluid RSVP-form py-5" id="weddingRsvp">
        <div class="container py-5">
            <div class="mb-5 text-center mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 800px;">
                <h1 class="display-2 text-primary">RSVP Form</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="p-5 border-secondary position-relative" style="border-style: double;">
                        <div class="fw-bold text-primary bg-white d-flex align-items-center justify-content-center position-absolute border-secondary p-2 wow fadeIn" data-wow-delay="0.1s" style="width: 75%; border-style: double; top: 0; left: 50%; transform: translate(-50%, -50%);">
                            Kindly respond by June 25, 2024 we look forward to celebrating with you!
                        </div>
                        <form>
                            <div class="row gx-4 gy-3">
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="form-group">
                                        <label for="Examplename" class="form-label text-dark">First Name</label>
                                        <input type="text" class="form-control py-3 border-0" id="Examplename" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="form-group">
                                        <label for="Examplename" class="form-label text-dark">Last Name</label>
                                        <input type="text" class="form-control py-3 border-0" id="Examplename" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="form-group">
                                        <label for="Examplename" class="form-label text-dark">Enter Your Email</label>
                                        <input type="email" class="form-control py-3 border-0" id="Examplename" placeholder="Enter Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="form-group">
                                        <label for="Examplename" class="form-label text-dark">Enter Your Phone</label>
                                        <input type="text" class="form-control py-3 border-0" id="Examplename" placeholder="Enter Your Phone">
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="form-group">
                                        <label for="exampleselect" class="form-label text-dark">Number Of Guests</label>
                                        <select class="form-control bg-white text-dark py-3 border-0" id="exampleselect" placeholder="Number Of Guests">
                                            <option>Only Me</option>
                                            <option>02 Guests</option>
                                            <option>03 Guests</option>
                                            <option>04 Guests</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="form-group">
                                        <label for="exampletextarea" class="form-label text-dark">Message</label>
                                        <textarea name="text" class="form-control border-0" id="exampletextarea" cols="30" rows="5" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                                    <div class="text-center border border-secondary p-4 my-4 position-relative">
                                        <div class="fw-bold text-primary bg-white d-flex align-items-center justify-content-center position-absolute border-secondary p-2" style="width: 50%; border-style: double; top: 0; left: 50%; transform: translate(-50%, -50%);">
                                            Will you be attending?
                                        </div>
                                        <div class="mt-4">
                                            <div class="row g-4">
                                                <div class="col-lg-6">
                                                    <div class="d-flex justify-content-center">
                                                        <div class="form-check d-flex">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                            <label class="form-check-label text-dark" for="flexRadioDefault1">
                                                                Accepts With Pleasure!
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="d-flex justify-content-center">
                                                        <div class="form-check d-flex">
                                                            <input class="form-check-input me-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                            <label class="form-check-label text-dark" for="flexRadioDefault1">
                                                                Declines With Regret
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeIn" data-wow-delay="0.1s">
                                    <button class="btn btn-primary btn-primary-outline-0 py-3 px-5">Submit Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- RSVP Form End -->
    <!-- Footer Start -->
    <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5 justify-content-center">
                <div class="col-lg-4 text-start">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Links</h4>
                        <a href="#" class="btn-link"> About</a>
                        <a href="#" class="btn-link"> Gallery</a>
                        <a href="#" class="btn-link"> Story</a>
                        <a href="#" class="btn-link"> Timeline</a>
                        <a href="#" class="btn-link"> RSVP</a>
                        <a href="#" class="btn-link"> Contact Us</a>
                        <a href="#" class="btn-link"> Wsedding-date</a>
                    </div>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="footer-item">
                        <h4 class="mb-4 text-white">Mr<strong class="text-primary">&</strong>Mrs</h4>
                        <p class="text-white">
                            Dolor amet sit justo amet elitr clita ipsum elitr est.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in tempor dui, non consectetur enim.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        </p>
                        <div class="btn-link d-flex justify-content-center">
                            <a href="#" class="btn btn-md-square btn-light btn-light-outline-0 me-2"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn btn-md-square btn-light btn-light-outline-0 me-2"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn btn-md-square btn-light btn-light-outline-0 me-2"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="btn btn-md-square btn-light btn-light-outline-0 me-0"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-end">
                    <div class="footer-item d-flex flex-column">
                        <h4 class="mb-4 text-white">Follow Us</h4>
                        <a href="#" class="btn-link"> Faceboock</a>
                        <a href="#" class="btn-link"> Instagram</a>
                        <a href="#" class="btn-link"> Twitter</a>
                        <h4 class="my-4 text-white">Contact Us</h4>
                        <a href="#" class="btn-link"><i class="fas fa-envelope text-secondary me-2"></i> info@example.com</a>
                        <a href="#" class="btn-link"><i class="fas fa-phone text-secondary me-2"></i> (+012) 3456 7890 123</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-start mb-md-0">
                    <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>Your Site Name</a>, All right reserved.</span>
                </div>
                <div class="col-md-6 text-center text-md-end text-white">
                    <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                    <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                    <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>
</div>

@code {
    private DateTime TargetDate = new DateTime(2025, 5, 31, 13, 0, 0); // Change this date
    private TimeSpan TimeLeft;
    private System.Threading.Timer? _timer;

    protected override void OnInitialized()
    {
        UpdateTimeLeft();
        _timer = new System.Threading.Timer(UpdateCountdown, null, 0, 1000);
    }

    private void UpdateCountdown(object? state)
    {
        UpdateTimeLeft();
        InvokeAsync(StateHasChanged);
    }

    private void UpdateTimeLeft()
    {
        TimeLeft = TargetDate - DateTime.UtcNow;
    }

    private string FormattedTime
    {
        get
        {
            int days = TimeLeft.Days;
            int hours = TimeLeft.Hours;
            int minutes = TimeLeft.Minutes;
            int seconds = TimeLeft.Seconds;

            return days > 0
                ? $"{days} day{(days > 1 ? "s" : "")}, {hours} hour{(hours > 1 ? "s" : "")}, {minutes} minute{(minutes > 1 ? "s" : "")}, {seconds} second{(seconds > 1 ? "s" : "")}"
                : $"{hours} hour{(hours > 1 ? "s" : "")}, {minutes} minute{(minutes > 1 ? "s" : "")}, {seconds} second{(seconds > 1 ? "s" : "")}";
        }
    }
}
