@page "/about"

<PageTitle>About</PageTitle>

<h3>About</h3>

<p>
    Everything on this site was created by me, Freddy! (with input from Bre, of course 😊)
</p>
<p>
    This is what I do for a living. I design, build, program, and maintain software solutions. 
    There's a lot more to this website than what you can see here, so if you're curious about what it 
    takes to create something like this, here are some statistics:
</p>
<ol>
    <li>I started building this project in early January of 2024.</li>
    <li>In total, I probably spent around 50 hours building everything from scratch.</li>
    <li>Bre spent many of those hours playing <a href="https://www.google.com/search?q=slime+rancher+2" target="_blank">Slime Rancher 2</a> while I worked and occasionally glanced up to comment on her game.</li>
    <li>Anything entered on this site is safely stored somewhere only I can access. I won't sell it... Unless?</li>
</ol>